<body bgcolor=black>
<font color=white>
<style>
.subsectionHeader { font-size: 18pt; }
</style>
<div class="brown_box">
<div class="subsectionHeader">World full</div>
<div class="inner_brown_box">
<p>Either this world is currently full, or you have exceeded the maximum number of connections from your address.</p>
<p>Please <a href="http://www.runescape.com/g=oldscape/">click here to return to the main page and try again</a>.</p>
<p>If problems persist, please refer to the Technical FAQs, which can be found in the Customer Support section of our website.</p>
</div>
</div>
</body>
</html>
