<body bgcolor=black>
<font color=white>
<style>
.subsectionHeader { font-size: 18pt; }
</style>
<div class="brown_box">
<div class="subsectionHeader">Error_game_invalidhost - Incorrect website.</div>
<div class="inner_brown_box">
<p>This game does not appear to be loading from the correct website.</p>
<p>Please make sure you are playing from: http://www.runescape.com/.</p>
<p>Remember to keep your account secure. NEVER enter your password anywhere except http://www.runescape.com/.</p>
</div>
</div>
</body>
</html>
