<body bgcolor=black>
<font color=white>
<style>
.subsectionHeader { font-size: 18pt; }
</style>
<div class="brown_box">
<div class="subsectionHeader">Error_game_alreadyloaded - Game already running</div>
<div class="inner_brown_box">
<p>A copy of this game appears to be still in memory. You should only have one copy of the game open at any time.</p>
<ul>
<li>Please try closing all browser windows and then reloading.</li>
<li>If that doesn't work, try rebooting your computer and then reloading.</li>
</ul>
<p>If problems persist, please refer to the Technical FAQs which can be found in the Customer Support section of our website.</p>
</div>
</div>
</body>
</html>
