<body bgcolor=black>
<font color=white>
<style>
.subsectionHeader { font-size: 18pt; }
</style>
<div class="brown_box">
<div class="subsectionHeader">Error_game_js5crc - CRC error.</div>
<div class="inner_brown_box">
<p>RuneScape was unable to get a valid download from the update server. This is most likely caused by faulty firewall/antivirus/filtering software on your computer, or a fault with your network hardware/software.</p>
<p>To resolve this:</p>
<ul>
<li>It may be that the game has been updated since you loaded it; try rebooting your computer and reloading the game.</li>
<li>Try using a different world at another location.</li>
<li>Make sure your firewall/antivirus/filtering software does not interfere with the RuneScape download.</li>
<li>External filtering software may be causing the problem. Please ask your network adminstrator/ISP for assistance.</li>
</ul>
<p>If problems persist, please refer to the Technical FAQs, which can be found in the Customer Support section of our website.</p>
</div>
</div>
</body>
</html>
